{% extends 'index.html' %}
{% block nav %}

    {% for item in  year %}
        <li class="layui-nav-item layui-hide-xs"><a href="/fsx?year={{ item }}">{{ item }}</a></li>
    {% endfor %}

{% endblock %}
{% block body %}
    <div id="main" style="width: 1300px;height:600px;"></div>
    <script src="/static/echarts/echarts.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var region =
        {{ region | safe }}
        var graduates_total =
        {{graduates_total | safe}}

        var option = {
            title: {
                text: '预计毕业人数'
            },

            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                data: region,
                axisTick: {
                    alignWithLabel: true
                },
                axisLabel: {
                    rotate: 40,
                    interval: 0,
                },
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            legend: {
                data: ['人数']
            },
            yAxis: {},
            series: [
                {
                    symbolSize: 20,
                    data: graduates_total,
                    type: 'scatter'
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
{% endblock body %}

{% block footer %}
    底部导航栏
{% endblock footer %}

